body {
    font-family: Arial;
    text-align: center;
    padding: 40px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}